.Section{
	display: flex;
	width: 100;
	height: 110vh;
	background-image: url("https://static1.squarespace.com/static/55555e9be4b0cc5c1ed72f84/t/556f8657e4b0ad976216e5e7/1433372247762/business-banner.jpg?format=1500w");
	background-size: cover;

}
.SectionOpacity{

	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	display: flex;
	flex-direction: column;
}
#Opacity{
     z-index: 5;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top:0;
	left: 0;
	position: fixed;
	display: none;
}
#Opacity:target{
	display: block;
}
#Opacity:target ~ .box{
	top: 150px;
	transition: all .3s;
	transition-delay: .2s;
}
.box{
	
    left: 50%;
	height: 720px;
	width: 405px;
	position: absolute;
	margin-left: -360px;
	background-color: white;
	
}
#close{
	color: #fff;
	font-family: 'Arial';
	text-decoration: none;
	font-size: 35px;
	position: absolute;
	background-color: #000;
	width: 40px;
	height: 40px;
	text-align: center;
	right: 0;


}
.Navbar{
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
}
.NavLogo{
	width: 50%;
	height: 100%;
}
.NavLinks{
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	list-style: none;
	align-items: center;
	color: white;
	padding-right: 10%;
}
.Link{
	width: 24%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Link:hover{
	background-color: rgba(0,0,0,0.6);
}
ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	list-style: none;
	align-items: center;
	color: white;
}
ul li a{
	text-decoration: none;
	color: white;
}


.BoxText{
	height: 30%;
	width: 100%;
}
.BoxSearch{
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
	flex-direction: column;
	align-items: center;

}
.NavSearch{
	width: 60%;
	height: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.Tag{
	width: 24.5%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.TagTitle{
	width: 100%;
	height: 25%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.TagContent{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #f9f9f9;
	color: black;
	visibility: hidden;
	height: 75%;
	width: 100%;
	background-color: white;
}
.Box{
	width: 60%;
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 15px;
}
.Button{
	width: 18.7%;
	height: 95%;
	background-color: #3D8EB9;
}
.Tag:hover .TagContent {
	visibility: visible;
}
.TitleSearch{
	width: 60%;
	height: 10%;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.BoxInput{
	height: 95%;
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.Input{
	height: 89%;
	width: 80%;
	background-color: white;
	border: none;
}
.u-coloRed{
	background-color: #EB6361;
}
.u-coloGreen{
	/*background-color: #64DDBB;*/
	background-color: #02af7e;
}
.u-coloBlue{
	background-color: #3D8EB9;
}

.u-coloOrange{
	background-color: #EB9532;
}

.Function{
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: #ecf0f1;
	background-size: cover;
	display: flex; 
	flex-direction: column;
	justify-content: center;

}
.FunctionTitle{
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	font-family: 'Lato', sans-serif;

}
.FunctionContent{
    width: 100%;
	height: 70%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.BoxFunction{
	height: 50%;
	width: 23%;
	
}
.BoxIcon{
	height: 40%;
	width: 100%;
	
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;


}
.BoxText{
	height: 60%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	text-align: center;
	color: white;
}

.About{
	display: flex;
	width: 100%;
	height: 100vh;
	background-color: #e0e0e0;
	background-size: cover;
	flex-direction: column;
	justify-content: center;
}

.AboutTitle{
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	font-family: 'Lato', sans-serif;
}
.AboutText{
	width: 60%;
	height: 80%;
	display: flex;
	align-self: center;
	text-align: justify;
	line-height: 1.7em;
	font-size: 1.3em;
   font-family: 'Lato', sans-serif;
}
.ButtonTag{
	background-color: #3D8EB9;
	margin-left: 15px;
	border: none;
	color: white;
}


.BoxCards{
	width: 100%;
	height: 93%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	
}
.SectionCards{
	z-index: 1;
	width: 100%;
	height: 120vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #E0E0E0;
}
.CardLine{
	position: relative;
	width: 90%;
	height: 48%;
  
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;

}
.Card{
	border-radius: 5px;
   width: 48%;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: white;
   box-shadow: 2px 2px #efe5e5;

}
.CardTitle{

	border-radius: 5px;
	width: 100%;
	height: 12%;
	display: flex;
	justify-content: space-around;
	font-size: 1.2em;
	color: white;
	align-items: center;
	background-color: #3a71c7;

}
.CardContent{
	width: 100%;
	height: 70%;
	background-color: white;
}
.CardFooter{
	width: 100%;
	height: 18%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	padding-bottom: 1%;
}
.ButtonPrimary{
	width: 25%;
	height: 95%;
	background-color: #3a71c7;
	border-radius: 7px;
	margin-right: 10px;
}
.LineLogo{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	

}
.LineDescription{
	width: 100%;
	height: 50%;
	display: flex;
    justify-content: space-between;
	background-color: blue;
	
}
.LogoCard{
	width: 20%;
	height: 100%;
	
}
.TextCard{
	text-align: center;
	width: 78%;
	height: 100%;
	display: flex;
	justify-content: center;
	
}
.List{
	width: 32%;
	height: 100%;
	background-color: red;
}